html, body {
	background-color:#2980b9;
	height:100%;
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	color:#2c3e50;
}
#container {
	display:block;
	background-color:#ecf0f1;
	text-align:center;
	margin: 0 17%;
	padding: 20px 10px;
	height:100%;
	clear:both;
	box-shadow: 4px 0 4px #293a41, -4px 0 4px #293a41;
}
h1 {
	color:#16a085;
	font-size:320%;
	font-weight:bold;
	margin: 0 0 50px 0;
	padding-top:15px;
}
#current_items_heading {
	font-size:200%;
	margin: 0 33% 40px 0;
}
#list_container {
	margin: 0 7%;
	padding:10px;
	border: 1px solid #7f8c8d;
	border-radius:4px;
}
.list_entry {
	display:inline-block;
	background-color:#bdc3c7;
	height:40px;
	width:200px;
	border: solid 1px #E5E5E5;
	border-radius:8px;
	margin:0 4.5% 50px 5px;
	font-size:120%;
	padding-top:10px;
}
#add_items_heading {
	font-size:200%;
}